name: Backend CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Backend Image
        run: docker build -t nithincode1/backend-app:latest .

      - name: Push Backend Image
        run: docker push nithincode1/backend-app:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker stop backend-app || true
            docker rm backend-app || true
            docker pull nithincode1/backend-app:latest
            docker run -d \
              --name backend-app \
              --env-file .env \
              -p 5000:5000 \
              --restart always \
              nithincode1/backend-app:latest